<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :created_at, default_order: :desc) %></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.reverse.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.created_at %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: '削除しますか？' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_task_path %>
