<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :created_at, default_order: :desc) %></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.reverse.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.created_at %></td>
        <td><%= link_to t('view.show'), task %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: '削除しますか？' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.new_task'), new_task_path %>
