<p>
  <strong>Title:</strong>
  <%= @task.title %><br>
  <strong>Limit:</strong>
  <%= @task.limit %><br>
  <strong>Status:</strong>
  <%= @task.status %><br>
  <strong>Priority:</strong>
  <%= @task.priority %><br>
</p>

<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.tasks_path'), tasks_path %>
