<h2>Users</h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t('view.user') %></th>
      <th><%= t('view.email') %></th>
      <th><%= t('view.admin') %></th>
      <th><%= t('view.task_count') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "管理ユーザー" : "一般ユーザー" %></td>
        <td><%= user.tasks.length %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate @users %>
  <br>
  <%= link_to t('view.new_user'), new_admin_user_path, class: 'btn btn-dark' %>
