<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <p></p>

    <% if logged_in? %>
    　<%= link_to "マイページ", user_path(current_user.id) %>　
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    <% else %>
    　<%= link_to "新規登録", new_user_path %>　
      <%= link_to "ログイン", new_session_path %>
    <% end %>　
    <% if logged_in? && current_user.admin? %>
      <%= link_to "管理者画面", admin_users_path %>
    <% end %>　
    <% if logged_in? %>
      <%= link_to "マイタスク一覧", tasks_path %>
    <% end %>

    <hr>
    <div class="container">
      <%= yield %>
    </div>

  </body>

  <footer class="footer">　
  </footer>

</html>