<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <p></p>

    <% if logged_in? %>
    　<%= link_to t('view.mypage'), user_path(current_user.id) %>　
      <%= link_to t('view.logout'), session_path(current_user.id), method: :delete %>
    <% else %>
    　<%= link_to t('view.signin'), new_user_path %>　
      <%= link_to t('view.login'), new_session_path %>
    <% end %>　
    <% if logged_in? && current_user.admin? %>
      <%= link_to t('view.admin_space'), admin_users_path %>
    <% end %>　
    <% if logged_in? %>
      <%= link_to t('view.tasks_path'), tasks_path %>
    <% end %>

    <hr>
    <div class="container">
      <%= yield %>
    </div>

  </body>

  <footer class="footer">　
  </footer>

</html>